.no-mobile{
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}
.no-mobile span{
    font-size: 24px;
    font-weight: 600;
    color: teal;
}

@media screen and (max-width:645px){
    .no-mobile{
        display: none;
    }

}